@import url('https://fonts.cdnfonts.com/css/oxanium');
*{
    margin: 0;
}

header {
    height: 15vh;
    background: rgb(12, 109, 162);
    font-family: 'Oxanium', sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0; 
}

nav{
    padding: 2rem;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
}

nav > div {
    font-size: 2rem;
    cursor: pointer;
    width: 15rem;
    height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav--profils:hover{
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.532) inset,
                5px 5px 5px rgba(0, 0, 0, 0.804);
}

.nav--profils{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.profil-container{
    font-size: 2rem;

    
    cursor: pointer;
    width: 15rem;
    height: 6rem;
    min-height: 6rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.dropdown-content {
    display: none;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color: black;
    border-radius: 1rem;
}

.nav--title
{
    width: fit-content;
}

.nav--logo
{
    font-size: 4em;
}

